.timestamp {
  padding: 20px 0;
  text-align: center;
}
.timestamp h3 {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}
.slots_absent {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}
.slots_present {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #49aa19;
}
